https://github.com/DMOJ/django-sortedm2m/archive/master.zip#egg=django-sortedm2m
https://github.com/DMOJ/dmoj-wpadmin/archive/master.zip#egg=dmoj-wpadmin
-e git+https://github.com/DMOJ/ansi2html.git#egg=ansi2html
https://github.com/DMOJ/martor/archive/master.zip#egg=martor
