Django==1.11.16
django_compressor
django-mptt>=0.8.4,<0.9
http://nexus.uclv.edu.cu/repository/github/DMOJ/django-pagedown/archive/master.zip#egg=django-pagedown
django-registration-redux>=1.11,<2
django-reversion
django-social-share
django-sortedm2m
django-impersonate
http://nexus.uclv.edu.cu/repository/github/DMOJ/dmoj-wpadmin/archive/master.zip
lxml
Pygments
mistune
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
django_select2
websocket-client
websocket
pymysql